/* Navigation  */

nav {
    background-color: rgb(241, 189, 110);
    overflow: hidden;
}

nav a {
    font-size: 19px;
    text-decoration: none;
    padding: 14px 16px;
    color: azure;
    float: left;
    text-align: center;
}

nav a:hover {
    font-size: 19px;
    text-decoration: none;
    padding: 14px 16px;
    color: rgb(241, 189, 110);
    background-color:azure;
    float: left;
    text-align: center;
}

.left {
    float: right;
}

/* Home */
#home-page {
    background-color: rgb(250, 238, 217);
    height: 90%;
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    margin-top: 10px;
    font-size: 50px;
    margin-bottom: 15px;
}

h2 {
    text-align: center;
}

.console {
    color: rgb(241, 189, 110);;
    background-color: white;
    border-color: rgb(241, 189, 110);
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px;
    padding: 0.375rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.05rem;
}

.console:hover {
    color: white;
    background-color: rgb(241, 189, 110);
    border-color: white;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px;
    padding: 0.375rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

#home-page-container {
    margin: auto;
    width: 60%;
}

#home-page-container h1 {
    text-align: initial;
}

#home-page-container img {
    margin-top: 10px;
    height: 90%;
    width: 90%;
    padding-bottom: 20px;
}

#home-page-container h1, h2{
    text-align: center;
}

#home-page-container h2 span {
    color: rgb(241, 189, 110);
}

.console-auth {
    margin: auto;
    padding-top: 10px;
    width: 47%;
}


section h1 {
    text-align: center;
}

#wrap-buttons {
    text-align: center;
    padding-bottom: 20px;
}

/* Login */
.auth-container {
    background-color: rgb(250, 238, 217);
    padding: 20px;
    text-align: center;
    margin: 10px;
}

input[type=text], input[type=password] {
    width: 50%;
    margin: 5px 0 22px 0;
    padding: 15px;
    display: inline-block;
    border: none;
    background: white;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: white;
    outline: none;
}

.authbtn {
    color: rgb(241, 189, 110);
    background-color: white;
    padding: 14px 18px;
    margin: 6px 0;
    border: 1px;
    cursor: pointer;
    width: 50%;
    font-weight: bold;
    font-size: 25px;
}

.authbtn:hover {
    color: white;
    background-color: rgb(241, 189, 110);
    padding: 14px 18px;
    margin: 6px 0;
    border: 1px;
    cursor: pointer;
    width: 50%;
    font-weight: bold;
    font-size: 25px;
    border-radius: 0.25rem;
}

a {
    color: rgb(241, 189, 110);
}

.auth-container > label {
    font-weight: bold;
    display: block;
    font-size: 25px;
}

/* Register */
.auth-container {
    background-color: rgb(250, 238, 217);
    padding: 20px;
    text-align: center;
    margin: 10px;
}

input[type=text], input[type=password] {
    width: 50%;
    margin: 5px 0 22px 0;
    padding: 15px;
    display: inline-block;
    border: none;
    background: white;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: white;
    outline: none;
}

.authbtn {
    color: rgb(241, 189, 110);
    background-color: white;
    padding: 14px 18px;
    margin: 6px 0;
    border: 1px;
    cursor: pointer;
    width: 50%;
    font-weight: bold;
    font-size: 25px;
}

.authbtn:hover {
    color: white;
    background-color: rgb(241, 189, 110);
    padding: 14px 18px;
    margin: 6px 0;
    border: 1px;
    cursor: pointer;
    width: 50%;
    font-weight: bold;
    font-size: 25px;
    border-radius: 0.25rem;
}

a {
    color: rgb(241, 189, 110);
}

.auth-container > label {
    font-weight: bold;
    display: block;
    font-size: 25px;
}

/* See Products Page */
#see-products-page {
    margin: 10px;
    background-color: rgb(250, 238, 217);
}

.top-header {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.head-wrap {
    margin-left: 30px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

h1 {
    text-align: center;
    color:rgb(241, 189, 110)
}

h2 {
    text-align: center;
}

.product-wrap {
    margin-left: 30px;
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    width: 100%;
    flex: 0 0 100%;
    max-width: 29%;
}

.product-body {
    background-color: #e4c596cc;
    text-align: center;
    flex: 1 1 auto;
    min-height: 350px;
    padding: 1.25rem;
}

.product-body:hover {
    background-color: #ffe346cc;
    text-align: center;
    flex: 1 1 auto;
    min-height: 350px;
    padding: 1.25rem;
    border-radius: 8px;
}


img {
    background-color: white;
    width: 300px;
    height: auto;
}

.refactoring {
    display: inline-block;
    margin: 10px;
}

.product-wrap {
    display: inline-block;
    margin: 20px;
}

#see-more-wrap a {
    color: rgb(241, 189, 110);;
    background-color: white;
    border-color: rgb(241, 189, 110);
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px;
    padding: 0.375rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.05rem;
}

#see-more-wrap a:hover {
    color: white;;
    background-color: rgb(241, 189, 110);
    border-color: white;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px;
    padding: 0.375rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

#add-first-wrapper {
    margin-left: 30px;
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    width: 100%;
    flex: 0 0 100%;
    max-width: 50%;
}

#add-first-wrap a {
    color: rgb(241, 189, 110);;
    background-color: white;
    border-color: rgb(241, 189, 110);
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px;
    padding: 0.375rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.05rem;
}

#add-first-wrap a:hover {
    color: white;;
    background-color: rgb(241, 189, 110);
    border-color: white;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px;
    padding: 0.375rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

#add-first-wrap {
    text-align: center;
    padding-bottom: 20px;
}



/* Share Product Page */
#share-product-page {
    margin: 10px;
    background-color: rgb(250, 238, 217);
}

.share-container {
    background-color: rgb(250, 238, 217);
    padding: 20px;
    text-align: center;
    margin: 10px;
}

input[type=text], input[type=number] {
    width: 50%;
    margin: 5px 0 22px 0;
    padding: 15px;
    display: inline-block;
    border: none;
    background: white;
}

textarea {
    width: 50%;
    margin: 5px 0 22px 0;
    padding: 15px;
    display: inline-block;
    border: none;
    background: white;
    height: 100px;
}

select {
    width: 52%;
    margin: 5px 0 22px 0;
    padding: 15px;
    display: inline-block;
    border: none;
    background: white;
}

input[type=text]:focus, input[type=number]:focus {
    background-color: white;
    outline: none;
}

.button {
    color: rgb(241, 189, 110);
    background-color: white;
    padding: 14px 18px;
    margin: 6px 0;
    border: 1px;
    cursor: pointer;
    width: 50%;
    font-weight: bold;
    font-size: 25px;
}

.button:hover {
    color: white;
    background-color: rgb(241, 189, 110);
    padding: 14px 18px;
    margin: 6px 0;
    border: 1px;
    cursor: pointer;
    width: 50%;
    font-weight: bold;
    font-size: 25px;
    border-radius: 0.25rem;
}


.share-container > label {
    font-weight: bold;
    display: block;
    font-size: 25px;
}

/* Edit Product page */

#share-product-page {
    margin: 10px;
    background-color: rgb(250, 238, 217);
}

.share-container {
    background-color: rgb(250, 238, 217);
    padding: 20px;
    text-align: center;
    margin: 10px;
}

input[type=text], input[type=number] {
    width: 50%;
    margin: 5px 0 22px 0;
    padding: 15px;
    display: inline-block;
    border: none;
    background: white;
}

textarea {
    width: 50%;
    margin: 5px 0 22px 0;
    padding: 15px;
    display: inline-block;
    border: none;
    background: white;
    height: 100px;
}

select {
    width: 52%;
    margin: 5px 0 22px 0;
    padding: 15px;
    display: inline-block;
    border: none;
    background: white;
}

input[type=text]:focus, input[type=number]:focus {
    background-color: white;
    outline: none;
}

.button {
    color: rgb(241, 189, 110);
    background-color: white;
    padding: 14px 18px;
    margin: 6px 0;
    border: 1px;
    cursor: pointer;
    width: 50%;
    font-weight: bold;
    font-size: 25px;
}

.button:hover {
    color: white;
    background-color: rgb(241, 189, 110);
    padding: 14px 18px;
    margin: 6px 0;
    border: 1px;
    cursor: pointer;
    width: 50%;
    font-weight: bold;
    font-size: 25px;
    border-radius: 0.25rem;
}


.share-container > label {
    font-weight: bold;
    display: block;
    font-size: 25px;
}


/* style */
body {
    padding: 0;
    margin: 0;
}