<section class="login-wrapper">
    <form [formGroup]="form" class="login-form-wrapper" (ngSubmit)="login()">
        <section class="login-form">
            <article class="header-wrapper">
                <h1 class="header">Login</h1>
            </article>

            <div *ngIf="error" class="error">
                <p>{{error.error.message}}</p>
            </div>

            <article class="input-wrapper">
                <article class="err-wrapper">
                    <ng-container *ngIf="form.get('username')?.touched">
                        <p class="error" *ngIf="form.get('username')?.errors?.required">
                            Username is required!
                        </p>
                        <p class="error" *ngIf="form.get('username')?.errors?.minlength">
                            Username should be at least 4 charecters!
                        </p>
                    </ng-container>

                    <ng-container *ngIf="form.get('password')?.touched">
                        <p class="error" *ngIf="form.get('password')?.errors?.required">
                            Password is required!
                        </p>
                        <p class="error" *ngIf="form.get('password')?.errors?.minlength">
                            Password should be at least 4 charecters!
                        </p>
                    </ng-container>
                </article>


                <label for="username">Username</label>
                <input class="input-field" formControlName="username" placeholder="Enter Username..." name="username"
                    type="text">

                <label for="password">Password</label>
                <input class="input-field" formControlName="password" type="password" placeholder="Enter Password..."
                    name="password">

                    <article class="login-msg-wrapper">
                        <p class="login-msg">Don't have an account?<a class="login-now" routerLink="/register">Sign up</a>
                            now!</p>
                    </article>

                <input class="submit-button" type="submit"  value="Login">
            </article>
        </section>
    </form>
</section>

<!-- Login Page
<section id="login-page">
    <form [formGroup]="form" id="login" (ngSubmit)="login()">
        <div class="auth-container">
            <h1>Login Page</h1>
            <p *ngIf="error" class="error">
                {{error.error.message}}
            </p>

            <ng-container *ngIf="form.get('username')?.touched">
                <p class="error" *ngIf="form.get('username')?.errors?.required">
                    Username is required!
                </p>
                <p class="error" *ngIf="form.get('username')?.errors?.minlength">
                    Username should be at least 4 charecters!
                </p>
            </ng-container>

            <ng-container *ngIf="form.get('password')?.touched">
                <p class="error" *ngIf="form.get('password')?.errors?.required">
                    Password is required!
                </p>
                <p class="error" *ngIf="form.get('password')?.errors?.minlength">
                    Password should be at least 4 charecters!
                </p>
            </ng-container>

            <label for="username">Username</label>
            <input formControlName="username" id="username" placeholder="Enter Username..." name="username" type="text">
            
            <label for="password">Password</label>
            <input formControlName="password" id="password" type="password" placeholder="Enter Password..." name="password">
            
            <input type="submit" class="authbtn button" value="Login">
            <div class="container login">
                <p>Don't have an account?<a routerLink="/register">Sign up</a> now!</p>
            </div>
        </div>
    </form>
</section> -->