<!-- Login Page -->
<section id="login-page">
    <form id="login">
        <div class="auth-container">
            <h1>Login Page</h1>
            <label for="email">Email</label>
            <input id="email" placeholder="Enter Email..." name="email" type="text">
            <label for="password">Password</label>
            <input id="password" type="password" placeholder="Enter Password..." name="password">
            <input (click)="login()" type="submit" class="authbtn button" value="Login">
            <div class="container login">
                <p>Don't have an account?<a routerLink="/register">Sign up</a> now!</p>
            </div>
        </div>
    </form>
</section>