.profile-container {
    background-color: rgb(250, 238, 217);
    padding: 20px;
    text-align: center;
    margin: 10px;
}


#fourite-products-page {
    margin: 10px;
    background-color: rgb(250, 238, 217);
}

.top-header {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.head-wrap {
    margin-left: 8px;
    position: relative;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

h1 {
    text-align: center;
    color:rgb(241, 189, 110)
}

h2 {
    text-align: center;
}

.product-wrap {
    margin-left: 30px;
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    width: 100%;
    flex: 0 0 100%;
    max-width: 20%;
    display: inline-block;
    margin: 20px;
}

.product-body {
    background-color: #e4c596cc;
    text-align: center;
    flex: 1 1 auto;
    min-height: 350px;
    padding: 1.25rem;
}

.product-body:hover {
    background-color: #ffe346cc;
    text-align: center;
    flex: 1 1 auto;
    min-height: 350px;
    padding: 1.25rem;
    border-radius: 8px;
}


img {
    background-color: white;
    width: 300px;
    height: auto;
}

.refactoring {
    display: inline-block;
    margin: 10px;
}

#see-more-wrap a {
    color: rgb(241, 189, 110);;
    background-color: white;
    border-color: rgb(241, 189, 110);
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px;
    padding: 0.375rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.05rem;
}

#see-more-wrap a:hover {
    color: white;;
    background-color: rgb(241, 189, 110);
    border-color: white;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px;
    padding: 0.375rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

#add-first-wrapper {
    margin-left: 30px;
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    width: 100%;
    flex: 0 0 100%;
    max-width: 50%;
}

#add-first-wrap a {
    color: rgb(241, 189, 110);;
    background-color: white;
    border-color: rgb(241, 189, 110);
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px;
    padding: 0.375rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.05rem;
}

#add-first-wrap a:hover {
    color: white;;
    background-color: rgb(241, 189, 110);
    border-color: white;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px;
    padding: 0.375rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

#add-first-wrap {
    text-align: center;
    padding-bottom: 20px;
}

h1 {
    text-align: center;
    color:rgb(241, 189, 110);
    font-size: 40px;
}
