<section id="details-page">
    <div *ngIf="post" class="details-container">
        <h1>{{post.name}}</h1>
        <div class="description">
            <div class="product-img">
                <img src={{post.imageUrl}} alt="product-photo">
            </div>
            <div class="decription-wrapper">
                <p>
                    {{post.description}}
                </p>
            </div>
            <p id="price">Only for: <span>{{post.price}}</span> lv.</p>
            <div class="buttons">
                <a *ngIf="id == post.creator._id" [routerLink]="['/edit', post._id]" id="edit">Edit</a>
                <a *ngIf="id == post.creator._id" href="#" id="delete">Delete</a>
                <!-- <a href="#" id="interest">Add to Favourite Tab</a>
                <a href="#" id="interest-alerady">Already added to the Favourite Tab</a> -->
                <!-- <p *ngIf="post.creator.likes.length > 0">Hurry up! <span>--num of people-- people</span> are interested in this product!</p> -->
            </div>
            <div class="creator">
                <div class="wrap">
                    <h3>Contact with: <span id="username">{{post.creator.username}}</span></h3>
                    <a [routerLink]="['/profile', post.creator._id]">See Profile</a>
                </div>
                <p>Phone: {{post.phone}}</p>
                <p>Email: {{post.creator.email}}</p>
            </div>
        </div>
    </div>
</section>
