body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.details-wrapper {
    max-width: 1400px;
    margin: 100px auto;
    border: 4px solid #1a918b;
    display: flex;
    justify-content: space-around;
    box-shadow: -20px -16px 0px 1px rgba(26,145,139,0.96);
}

.content-wrapper {
    margin: 60px
}

.header {
    font-size: 40px;
    text-align: center;
    color: white;
}

.img-wrapper {
    width: 400px;
    height: 400px;
    box-shadow: -16px -16px 0px -9px rgba(255,255,255,0.96);
}

.img {
    width: 100%;
    height: 100%;
}

.description {
    margin-top: 40px;
    font-size: 20px;
    color: white;
    display: inline-block;
    word-wrap: initial;
    width: 400px;
}

.price-content {
    color: white;
    font-size: 20px;
}

.price, .username, .bold-content {
    font-weight: bold;
    color: #1a918b;
}

.content-buttons a, 
.content-buttons span,
.profile-link {
    text-decoration: none;
    background-color: #1a918b;
    color: white;
    padding: 10px;
    border: 3px solid #1a918b;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 11px 10px 0px -7px #FFFFFF;
    margin: 0 5px;
    cursor: pointer;
}

.like:hover {
    border: 3px solid #1158c2;
    background-color: white;
    color: #1158c2;
    box-shadow: -11px -10px 0px -7px #FFFFFF;
    cursor: pointer;
}

.login:hover,
.profile-link:hover {
    text-decoration: none;
    background-color: white;
    padding: 10px;
    border: 3px solid #1a918b;
    text-transform: uppercase;
    color: #1a918b;
    font-size: 15px;
    font-weight: bold;
    box-shadow: -11px -10px 0px -9px #FFFFFF;
    cursor: pointer;
}

.edit:hover {
    border: 3px solid #a0bb05;
    background-color: white;
    color: #a0bb05;
    box-shadow: -11px -10px 0px -7px #FFFFFF;
    cursor: pointer;
}

.delete:hover {
    border: 3px solid #940e05;
    background-color: white;
    color: #940e05;
    box-shadow: -11px -10px 0px -7px #FFFFFF;
    cursor: pointer;
}

.user-wrapper {
    margin: 60px;
    padding-left: 20px;
    border-left: 4px solid white;
}

.img-user-wrapper {
    width: 200px;
    height: 200px;
    box-shadow: -16px -16px 0px -9px rgba(255,255,255,0.96);
}

.user-img {
    width: 100%;
    height: 100%;
}

.user-content {
    color: white;
}

.email {
    padding-bottom: 20px;
}