<section id="details-page">
    <div *ngIf="post" class="details-container">
        <h1>{{post.name}}</h1>
        <div class="description">
            <div class="product-img">
                <img src={{post.imageUrl}} alt="product-photo">
            </div>
            <div class="decription-wrapper">
                <p>
                    {{post.description}}
                </p>
            </div>
            <p id="price">Only for: <span>{{post.price}}</span> lv.</p>
            <div *ngIf="id == post.creator._id" class="buttons">
                <a  [routerLink]="['/edit', post._id]" id="edit">Edit</a>
                <a  (click)="deletePost(post._id)" id="delete">Delete</a>
            </div>
            <div *ngIf="id !== post.creator._id" class="buttons" >
                <div *ngIf="post.likes.includes(id)">
                    <a id="interest-alerady">Already added to the Favourite Tab</a>
                    <p *ngIf="post.likes.length > 0"><span>{{post.likes.length}} people liked!</span></p>
                </div>
                <div *ngIf="!post.likes.includes(id)">
                    <a href="#" id="interest">Add to Favourite Tab</a>
                    <p *ngIf="post.likes.length > 0">Hurry up! <span>{{post.likes.length}} people</span> are interested in this product!</p>
                </div>
            </div>

            <div class="creator">
                <div class="wrap">
                    <h3>Contact with: <span id="username">{{post.creator.username}}</span></h3>
                    <a [routerLink]="['/profile', post.creator._id]">See Profile</a>
                </div>
                <p>Phone: {{post.phone}}</p>
                <p>Email: {{post.creator.email}}</p>
            </div>
        </div>
    </div>
</section>
