
.create-wrapper {
    margin: 0px;
    height: 600px;
    width: 100%;
    background-image:
    linear-gradient(to top, rgb(0, 0, 0, 1), rgb(0, 0, 0, 0.8)),
    url('../../../assets/images/IN0316INA07-web_80579.jpeg');
    background-position: center;
    background-size: cover;
}

.create-form-wrapper {
    width: 600px;
    padding:100px 0px;
    margin: 0 auto;
}

.create-form {
    border: 4px solid white;
    box-shadow: -20px -16px 0px 1px rgba(255,255,255,0.96);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    color: white;
    font-size: 35px;
    letter-spacing: 10px;
    text-transform: uppercase;
    border-bottom: 4px solid white;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.err-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 90px;
    right: 40px;
}

.error {
    margin: 10px;
    padding: 10px;
    border: 4px solid red;
    color: white;
    font-size: 30px;
    background-color: transparent;
}

.input-field {
    color: white;
    font-size: 15px;
    background-color: transparent;
    padding: 10px;
    border-style: none;
    border-bottom: 2px solid white;
    width: 20vw;
}

.submit-button {
    margin: 40px 0px;
    text-decoration: none;
    background-color: #1a918b;
    color: white;
    padding: 10px;
    border: 3px solid #1a918b;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 11px 10px 0px -7px #FFFFFF;
    cursor: pointer;
}

.submit-button:hover {
    background-color: transparent;
    color: #1a918b;
    box-shadow: -8px -8px 0px -7px #FFFFFF;
}