<section id="share-product-page">
    <form id="share">
        <div class="share-container">
            <h1>Edit Product</h1>
            <label for="name">Name</label>
            <input id="name" placeholder="Enter Name..." name="name" type="text" value="Handbag - CREOLE">
            <label for="imageUrl">Image URL</label>
            <input id="iamgeUrl" placeholder="Paste Image Url..." name="imageUrl" type="text"
                value="{url-image}">
            <label for="description">Description</label>
            <textarea id="description" placeholder="Say something about your product..."
                name="description">Some description</textarea>
            <label for="condition">Condition: </label>
            <select id="condition">
                <option selected value="New">New</option>
                <option value="Used">Used</option>
            </select>
            <label for="price">Price</label>
            <input id="price" placeholder="Enter Price..." name="price" type="number" value="999">
            <label for="phone">Phone number</label>
            <input id="phone" placeholder="Enter phone number..." name="phone" type="text">
            <input type="submit" class="button" value="Share">
        </div>
    </form>
</section>
