<!-- Profile Page -->

    <div class="profile-container" *ngIf="user">
        <h1>Profile Page</h1>
        <div class="profile-info">
            <ng-container *ngIf="user.profileInfo.profileImg">
                <img src={{user.profileInfo.profileImg}}
                alt="profile-photo">
            </ng-container>
            <ng-container *ngIf="!user.profileInfo.profileImg">
                <img src="../../../assets/images/356-3562377_personal-user.png"
                alt="profile-photo">
            </ng-container>
            <div id="user-data">
                <p>Email: {{user.profileInfo.email}}</p>
                <p>Username: {{user.profileInfo.username}}</p>
                <p>Post count: {{user.products.length}}</p>
                <a *ngIf="isAuthor()" routerLink="/edit-profile" id="edit-profile">Edit Profile</a>
            </div>
        </div>

        <h1 *ngIf="!(user.products.length === 0)">Posts</h1>
    
        <div *ngIf="!(user.products.length === 0)" class="top-header">
            <div *ngFor="let product of user.products" class="product-wrap">
                <div class="refactoring">
                    <div class="product-body">
                        <img src={{product.imageUrl}}
                            alt="product-photo">
                        <p>{{product.description.slice(0, 40) + "..."}}</p>
                        <footer>
                            <p>Only for: <span>{{product.price}} lv</span></p>
                        </footer>
                        <div id="see-more-wrap">
                            <a [routerLink]="['/details', product._id]" class="details">See More</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    
    <div *ngIf="user.products.length === 0" class="no-data">
        <div class="no-data-wrapper">
            <h1>Looks like there are no products yet!</h1>
            <h2>Add the first one?</h2>
            <div id="add-first-wrap">
                <a href="/create" class="details">Share prduct</a>
            </div>
        </div>
    </div>

