<!-- Profile Page -->

    <div class="profile-container">
        <h1>Profile Page</h1>
        <div class="profile-info">
            <img src="../../../assets/images/356-3562377_personal-user.png"
                alt="profile-photo">
            <div id="user-data">
                <p>Email: --email--</p>
                <p>Username: --username--</p>
                <p>My post count: --num post--</p>
                <p>My favourite post count: --num post--</p>
            </div>
        </div>

        <h1>My posts</h1>

        <div class="top-header">
            <div class="product-wrap">
                <div class="refactoring">
                    <div class="product-body">
                        <img src="../../../assets/images/0000199234026_creole-k10318_czarny_czerwony_ai_1.jpg"
                            alt="product-photo">
                        <p>--Paste desciption here--</p>
                        <footer>
                            <p>Only for: <span>999 lv</span></p>
                        </footer>
                        <div id="see-more-wrap">
                            <a href="#" class="details">See More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product-wrap">
                <div class="refactoring">
                    <div class="product-body">
                        <img src="../../../assets/images/0000199234026_creole-k10318_czarny_czerwony_ai_1.jpg"
                            alt="product-photo">
                        <p>--Paste desciption here--</p>
                        <footer>
                            <p>Only for: <span>999 lv</span></p>
                        </footer>
                        <div id="see-more-wrap">
                            <a href="#" class="details">See More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product-wrap">
                <div class="refactoring">
                    <div class="product-body">
                        <img src="../../../assets/images/0000199234026_creole-k10318_czarny_czerwony_ai_1.jpg"
                            alt="product-photo">
                        <p>--Paste desciption here--</p>
                        <footer>
                            <p>Only for: <span>999 lv</span></p>
                        </footer>
                        <div id="see-more-wrap">
                            <a href="#" class="details">See More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product-wrap">
                <div class="refactoring">
                    <div class="product-body">
                        <img src="../../../assets/images/0000199234026_creole-k10318_czarny_czerwony_ai_1.jpg"
                            alt="product-photo">
                        <p>--Paste desciption here--</p>
                        <footer>
                            <p>Only for: <span>999 lv</span></p>
                        </footer>
                        <div id="see-more-wrap">
                            <a href="#" class="details">See More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product-wrap">
                <div class="refactoring">
                    <div class="product-body">
                        <img src="../../../assets/images/0000199234026_creole-k10318_czarny_czerwony_ai_1.jpg"
                            alt="product-photo">
                        <p>--Paste desciption here--</p>
                        <footer>
                            <p>Only for: <span>999 lv</span></p>
                        </footer>
                        <div id="see-more-wrap">
                            <a href="#" class="details">See More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product-wrap">
                <div class="refactoring">
                    <div class="product-body">
                        <img src="../../../assets/images/0000199234026_creole-k10318_czarny_czerwony_ai_1.jpg"
                            alt="product-photo">
                        <p>--Paste desciption here--</p>
                        <footer>
                            <p>Only for: <span>999 lv</span></p>
                        </footer>
                        <div id="see-more-wrap">
                            <a href="#" class="details">See More</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    
    <div class="no-data">
        <div class="no-data-wrapper">
            <h1>Looks like there are no products yet!</h1>
            <h2>Add the first one?</h2>
            <div id="add-first-wrap">
                <a href="#" class="details">Share prduct</a>
            </div>
        </div>
    </div>

