<section id="home-page">
    <div id="home-page-container">
        <h1>Your belongings are treasures for others.</h1>
        <h2>Find your choice. <span>Log in</span> right now!</h2>
        <div id="console-auth">
            <div id="wrap-buttons">
                <a routerLink="/login" class="console">Login</a>
                <a routerLink="/register" class="console">Register</a>
            </div>

            <img src="../../../assets/images/0000199234026_creole-k10318_czarny_czerwony_ai_1.jpg" alt="home-page-photo">
        </div>
    </div>
</section>
