@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Vujahday+Script&display=swap');

.guest-home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:
    linear-gradient(to top, rgb(0, 2, 1), #31290233);
    background-color: #002f34;
}

.header-wrapper {
    height: 600px;
    width: 100%;
    background-image:
    linear-gradient(to top, rgb(0, 0, 0, 0.9), rgb(0, 0, 0, 0.7)),
    url('../../../assets/images/190104-clutter-home-drawers-stock-cs-215p.jpg');
    background-position: center;
    background-size: cover;
}

.header {
    font-size: 80px;
    color: white;
    text-align: center;
    width: 450px;
    margin: 60px auto;
}

.content {
    display: flex;
    position: relative;
    bottom: 200px;
}

.left {
    margin-right: 100px;
}

.right {
    margin-left: 100px;
}

.ul-wrapper {
    list-style: none;
    padding: 50px;
    background-color: #1a918b;
    box-shadow: 14px 14px 0px -9px #FFFFFF;
}

.ul-wrapper:hover {
    box-shadow: 14px -15px 0px -9px #FFFFFF;
}

.ul-wrapper li {
    font-size: 20px;
    line-height: 2;
    color: white;
}