<section class="guest-home-page">
    <article class="header-wrapper">
        <h3 class="header">Wellcome to SELLit!</h3>
        <h3 class="sub-header">The things you don't need could be a treasure for others.</h3>
    </article>
    <section class="content">
        <section class="left">
            <ul class="ul-wrapper">
                <li>
                    <i class="far fa-check-square"></i>
                    You have an unnecessary item.
                </li>
                <li>
                    <i class="far fa-check-square"></i>
                    Share it!
                </li>
                <li>
                    <i class="far fa-check-square"></i>
                    Sell it!
                </li>
            </ul>
        </section>  
        <section class="right">
            <ul class="ul-wrapper">
                <li>
                    <i class="far fa-check-square"></i>
                    Need something new?
                </li>
                <li>
                    <i class="far fa-check-square"></i>
                    Find what you are looking for.
                </li>
                <li>
                    <i class="far fa-check-square"></i>
                    Buy it.
                </li>
            </ul>
        </section>  
    </section>
</section>




<!-- <section id="home-page">
    <div id="home-page-container">
        <h1>Your belongings are treasures for others.</h1>
        <h2>Find your choice. <span>Log in</span> right now!</h2>
        <div id="console-auth">
            <div id="wrap-buttons">
                <a routerLink="/login" class="console">Login</a>
                <a routerLink="/register" class="console">Register</a>
            </div>

            <img src="../../../assets/images/0000199234026_creole-k10318_czarny_czerwony_ai_1.jpg" alt="home-page-photo">
        </div>
    </div>
</section> -->
