.footer p {
    margin: 0px;
    padding: 10px;
    background-color: darkgrey;
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    
}

.author {
    color: darkolivegreen;
    text-decoration: none;
}