<section class="create-wrapper">
    <form [formGroup]="form" (ngSubmit)="createPost()" class="create-form-wrapper">
        <section class="create-form">
            <article class="header-wrapper">
                <h1 class="header">Create</h1>
            </article>

            <div *ngIf="error" class="error">
                <p>{{error.error.message}}</p>
            </div>

            <article class="input-wrapper">
                <article class="err-wrapper">
                    <ng-container *ngIf="form.get('name')?.touched">
                        <p class="error" *ngIf="form.get('name')?.errors?.required">
                            Name is required!
                        </p>
                        <p class="error" *ngIf="form.get('name')?.errors?.minlength">
                            Name should be at least 4 charecters!
                        </p>
                    </ng-container>
        
                    <ng-container *ngIf="form.get('imageUrl')?.touched">
                        <p class="error" *ngIf="form.get('imageUrl')?.errors?.required">
                            Image URL is required!
                        </p>
                        <p class="error" *ngIf="form.get('imageUrl')?.errors?.minlength">
                            Image URL should be at least 4 charecters!
                        </p>
                        <p class="error" *ngIf="form.get('imageUrl')?.errors?.pattern">
                            Invalid Image URL!
                        </p>
                    </ng-container>
        
                    <ng-container *ngIf="form.get('description')?.touched">
                        <p class="error" *ngIf="form.get('description')?.errors?.required">
                            Description is required!
                        </p>
                        <p class="error" *ngIf="form.get('description')?.errors?.minlength">
                            Description should be at least 8 charecters!
                        </p>
                    </ng-container>
        
                    <ng-container *ngIf="form.get('condition')?.touched">
                        <p class="error" *ngIf="form.get('description')?.errors?.required">
                            Condition is required!
                        </p>
                    </ng-container>
        
                    <ng-container *ngIf="form.get('price')?.touched">
                        <p class="error" *ngIf="form.get('price')?.errors?.required">
                            Price is required!
                        </p>
                        <p class="error" *ngIf="form.get('price')?.errors?.pattern">
                            Invalid Price!
                        </p>
                    </ng-container>
        
                    <ng-container *ngIf="form.get('phone')?.touched">
                        <p class="error" *ngIf="form.get('phone')?.errors?.required">
                            Phone is required!
                        </p>
                        <p class="error" *ngIf="form.get('phone')?.errors?.minlength">
                            Phone should be at least 5 charecters!
                        </p>
                        <p class="error" *ngIf="form.get('phone')?.errors?.maxLength">
                            Phone cannot be more than 14 charecters!
                        </p>
                        <p class="error" *ngIf="form.get('phone')?.errors?.pattern">
                            Invalid Phone!
                        </p>
                    </ng-container>
                </article>
                
                <label for="name">Name</label>
                <input class="input-field" formControlName="name" id="name" placeholder="Enter Name..." name="name" type="text">
                
                <label for="imageUrl">Image URL</label>
                <input class="input-field" formControlName="imageUrl" id="iamgeUrl" placeholder="Paste Image Url..." name="imageUrl" type="text">
        
                <label for="description">Description</label>
                <textarea class="input-field" formControlName="description" id="description" placeholder="Say something about your product..." name="description"></textarea>
                
                <label for="condition">Condition: </label>
                <select class="input-field" formControlName="condition">
                    <option selected value="New">New</option>
                    <option value="Used">Used</option>
                </select>
                
                <label for="price">Price</label>
                <input class="input-field" formControlName="price" id="price" placeholder="Enter Price..." name="price" type="number">
                
                <label for="phone">Phone number</label>
                <input class="input-field" formControlName="phone" id="phone" placeholder="Enter phone number..." name="phone" type="text">
                
                <input class="submit-button" type="submit" value="Share">
            </article>
        </section>
    </form>
</section>
