#share-product-page {
    margin: 10px;
    background-color: rgb(250, 238, 217);
}

.share-container {
    background-color: rgb(250, 238, 217);
    padding: 20px;
    text-align: center;
    margin: 10px;
}

input[type=text], input[type=number] {
    width: 50%;
    margin: 5px 0 22px 0;
    padding: 15px;
    display: inline-block;
    border: none;
    background: white;
}

textarea {
    width: 50%;
    margin: 5px 0 22px 0;
    padding: 15px;
    display: inline-block;
    border: none;
    background: white;
    height: 100px;
}

select {
    width: 52%;
    margin: 5px 0 22px 0;
    padding: 15px;
    display: inline-block;
    border: none;
    background: white;
}

input[type=text]:focus, input[type=number]:focus {
    background-color: white;
    outline: none;
}

.button {
    color: rgb(241, 189, 110);
    background-color: white;
    padding: 14px 18px;
    margin: 6px 0;
    border: 1px;
    cursor: pointer;
    width: 50%;
    font-weight: bold;
    font-size: 25px;
}

.button:hover {
    color: white;
    background-color: rgb(241, 189, 110);
    padding: 14px 18px;
    margin: 6px 0;
    border: 1px;
    cursor: pointer;
    width: 50%;
    font-weight: bold;
    font-size: 25px;
    border-radius: 0.25rem;
}


.share-container > label {
    font-weight: bold;
    display: block;
    font-size: 25px;
}

h1 {
    text-align: center;
    color:rgb(241, 189, 110);
    font-size: 40px;
}