<section class="navigation">
    <article class="navigation-header-wrapper">
        <h1 routerLink="/" class="header">SEllit</h1>
    </article>

    <article class="left-links">
        <ul>
            <li>
                <a routerLink="/all-products">See Products</a>
            </li>
            <li>
                <a *ngIf="isLogged()" routerLink="/create">Share Product</a>
            </li>
        </ul>
    </article>

    <article class="right-links">
        <ul>
            <ng-container *ngIf="!isLogged()">
                <li>
                    <a routerLink="/login">Login</a>
                </li>
                <li>
                    <a routerLink="/register">Register</a>
                </li>
            </ng-container>
            <ng-container *ngIf="isLogged()">
                <li>
                    <a [routerLink]="['/my-profile', userId()]">Hi, {{username()}}</a>
                </li>
                <li>
                    <a routerLink="/my-favourite">My Favourite Products</a>
                </li>
                <li>
                    <a (click)="logout()">Logout</a>
                </li>
            </ng-container>
        </ul>
    </article>
</section>




