<!-- Header Component -->
<nav>
    <a routerLink="/all-products">See Products</a>

    
    <!-- Logged -->
    <div *ngIf="isLogged()" class="logged">
        <a routerLink="/create">Share product</a>
        <div class="left">
            <a [routerLink]="['/my-profile', userId()]">Hi, {{username()}}</a>
            <a routerLink="/my-favourite">My Favourite Products</a>
            <a (click)="logout()" routerLink="/">Logout</a>
        </div>
    </div>

    <!-- Guest -->
    <div *ngIf="!isLogged()" class="guest">
        <a routerLink="/">Home</a>
        <div class="left">
            <a routerLink="/login">Login</a>
            <a routerLink="/register">Register</a>
        </div>
    </div>

</nav>
