<!-- Header Component -->
<nav>
    <a href="#">See Products</a>

    <!-- Logged -->
    <div class="logged">
        <a href="#">Share product</a>
        <div class="left">
            <a href="#">Hi, username</a>
            <a href="#">My Favourite Products</a>
            <a href="#">Logout</a>
        </div>
    </div>

    <!-- Guest -->
    <div class="guest">
        <a href="">Home</a>
        <div class="left">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </div>

</nav>
