<section id="edit-profile-page">
    <form [formGroup]="form" id="share" (ngSubmit)="editProfile()">
        <div class="share-container">
            <h1>Edit Profile</h1>

            <div *ngIf="error" class="error">
                <p>{{error.error.message}}</p>
            </div>

            <label for="username">Username</label>
            <input formControlName="username" id="username" placeholder="Enter Username..." name="username" type="text">
            <ng-container *ngIf="form.get('username')?.touched">
                <p class="error" *ngIf="form.get('username')?.errors?.required">
                    Username is required!
                </p>
                <p class="error" *ngIf="form.get('username')?.errors?.minlength">
                    Username should be at least 4 charecters!
                </p>
            </ng-container>

            <label for="imageUrl">Profile Image URL</label>
            <input formControlName="imageUrl" id="iamgeUrl" placeholder="Paste Profile Image Url..." name="imageUrl" type="text">
            <ng-container *ngIf="form.get('imageUrl')?.touched">
                <p class="error" *ngIf="form.get('imageUrl')?.errors?.required">
                    Image URL is required!
                </p>
                <p class="error" *ngIf="form.get('imageUrl')?.errors?.minlength">
                    Image URL should be at least 10 charecters!
                </p>
                <p class="error" *ngIf="form.get('imageUrl')?.errors?.pattern">
                    Invalid Image URL!
                </p>
            </ng-container>

            <input type="submit" class="button" value="Share">
        </div>
    </form>
</section>
