<!-- Register Page -->
<section id="register-page">
    <form id="register">
        <div class="auth-container">
            <h1>Register Page</h1>
            <label for="email">Email</label>
            <input id="email" placeholder="Enter Email..." name="email" type="text">
            <label for="password">Password</label>
            <input id="password" type="password" placeholder="Enter Password..." name="password">
            <label for="repeatPassword">Repeat Password</label>
            <input id="repeatPassword" type="password" placeholder="Enter Repeat Password..."
                name="repeatPassword">
            <input type="submit" class="authbtn button" value="Register">
            <div class="container login">
                <p>Already have an account?<a routerLink="/login">Sign in</a> now!</p>
            </div>
        </div>
    </form>
</section>
