@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Vujahday+Script&display=swap');

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Moon Dance', "Helvetica";
}